.App {
  text-align: center;
  margin: 20px;
  margin-top: 10rem;
  
}
body{
  background-color: rgb(196, 240, 255);
}

input {
  margin-right: 10px;
  padding: 10px;
}

button {
  padding: 10px 15px;
  background-color: rgb(11, 221, 11);
  color: white;
  border: none;
}

.weather-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.weather-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  min-width: 200px;
  text-align: left;
}

.weather-card h2 {
  margin: 0 0 10px 0;
}

.weather-card p {
  margin: 0;
}
